In [15]:
import pandas as pd

ourData = pd.read_csv('Data Challenge 5_12_25 - Sheet1.csv')
print(ourData)

        Name  Age (Years) Gender/Sex  Height (Inch)  Commute Time (Mins)  \
0  Ibrahima            22       Male             68                  120
1    Rolando           22       Male             69                   60
2     Thomas           22       Male             69                   80
3      Kevin           22       Male             68                   80

  Favorite Color Favorite Fruit Android or iphone Birthday (MM/DD)  \
0          Black         Mango            Android            08/07
1          Green          Mango            Iphone            12/25
2           Blue          Mango           Android            10/31
3           Blue          Mango            IPHONE            06/11

             Race  # of Siblings   Favorite Pizza Fav Genre  Languages Spoken  \
0        Africain              4  Buffalo chicken     Black               4.0
1  White/Hispanic              2        Margarita  Shoegaze               2.5
2       Hispanic?              2        Pepperoni     Brown               1.5
3               ?              5      Meat Lovers     Brown               2.0

    Borough                      Dream Job     Dream Company
0   Yonkers       Financial Data Scientist       Wall Street
1  Brooklyn         Financial Data Analyst              KPMG
2    Queens  Business Intelligence Analyst         Bloomberg
3     Bronx            Sports Data Analyst  New York Yankees

In [ ]:
print(ourData.head)

<bound method NDFrame.head of         Name  Age (Years) Gender/Sex  Height (Inch)  Commute Time (Mins)  \
0  Ibrahima            22       Male             68                  120
1    Rolando           22       Male             69                   60
2     Thomas           22       Male             69                   80
3      Kevin           22       Male             68                   80

  Favorite Color Favorite Fruit Android or iphone Birthday (MM/DD)  \
0          Black         Mango            Android            08/07
1          Green          Mango            Iphone            12/25
2           Blue          Mango           Android            10/31
3           Blue          Mango            IPHONE            06/11

             Race  # of Siblings   Favorite Pizza Fav Genre  Languages Spoken  \
0        Africain              4  Buffalo chicken     Black               4.0
1  White/Hispanic              2        Margarita  Shoegaze               2.5
2       Hispanic?              2        Pepperoni     Brown               1.5
3               ?              5      Meat Lovers     Brown               2.0

    Borough                      Dream Job     Dream Company
0   Yonkers       Financial Data Scientist       Wall Street
1  Brooklyn         Financial Data Analyst              KPMG
2    Queens  Business Intelligence Analyst         Bloomberg
3     Bronx            Sports Data Analyst  New York Yankees  >

In [16]:
theirData = pd.read_csv('Marcy_Spreadsheet.csv')
print(theirData.head)

<bound method NDFrame.head of       Name  Age     Sex           Height Commute Time  Transportation  \
0    Itzel   21  Female              5'2      70 mins  R , A ,L Train
1    Angel   19    Male  5'11 with timbs  100 minutes  Bx27/6&N train
2    Kabbo   24    Male              5'9  150 minutes       Q42, J, N
3  Vincent   24    Male              5'7           60       A/D Train

  Fav Color     Fav Fruit Andriod Or Iphone   Country Of Origin         Race  \
0    purple  pomegranates           Andriod               U.S.A       Latino
1    Purple    Watermelon            Iphone  Dominican Republic  Afro-Latino
2     Black        Apples            iPhone          Bangladesh  South Asian
3     Beige        banana            iphone   Domincan Republic  Afro-Latino

   Birthday  # of Siblings   Favorite Pizza Fav Genre  \
0   9/18/03              3  Buffalo chicken     metal
1  10/19/05              2    Chicken Ranch       Pop
2   7/16/00              1              Pep   Hip-Hop
3  11/16/00              2          Chicken       Rap

                       Languages Spoken    Borough             Dream Job  \
0                   Spanish and English   Brooklyn                 Hired
1                   English and spanish      Bronx          Fire Hydrant
2  English, Bangla, Urdu, Hindi, Arabic     Queens  Threat Intel Analyst
3                   English and Spanish  Manhattan         Healthcare DA

           Dream Company
0                Google
1             Microsoft
2              Microsoft
3  Presbytarian Hospital  >

In [37]:
ourKeys = ourData.keys()

In [23]:
theirKeys = theirData.keys()

In [39]:
data1 = ourKeys.tolist()
data2 = theirKeys.tolist()
print(data1)
print(data2)

['Name', 'Age (Years)', 'Gender/Sex', 'Height (Inch)', 'Commute Time (Mins)', 'Favorite Color', 'Favorite Fruit', 'Android or iphone', 'Birthday (MM/DD)', 'Race', '# of Siblings', 'Favorite Pizza', 'Fav Genre', 'Languages Spoken', 'Borough', 'Dream Job', 'Dream Company']
['Name', 'Age', 'Sex', 'Height', 'Commute Time', 'Transportation', 'Fav Color', 'Fav Fruit', 'Andriod Or Iphone', 'Country Of Origin', 'Race', 'Birthday', '# of Siblings', 'Favorite Pizza', 'Fav Genre', 'Languages Spoken', 'Borough', 'Dream Job', 'Dream Company']

In [33]:
print(len(ourKeys))
print(len(theirKeys))

17
19

In [55]:
lower1 = []
for element in data1:
    low = element.lower()
    lower1.append(low)

In [56]:
print(lower1)

['name', 'age (years)', 'gender/sex', 'height (inch)', 'commute time (mins)', 'favorite color', 'favorite fruit', 'android or iphone', 'birthday (mm/dd)', 'race', '# of siblings', 'favorite pizza', 'fav genre', 'languages spoken', 'borough', 'dream job', 'dream company']

In [49]:
lower2 = []
for element in data2:
    low = element.lower()
    lower2.append(low)

In [50]:
print(lower2)

['name', 'age', 'sex', 'height', 'commute time', 'transportation', 'fav color', 'fav fruit', 'andriod or iphone', 'country of origin', 'race', 'birthday', '# of siblings', 'favorite pizza', 'fav genre', 'languages spoken', 'borough', 'dream job', 'dream company']

In [57]:

ourData.head()

,Name,Age (Years),Gender/Sex,Height (Inch),Commute Time (Mins),Favorite Color,Favorite Fruit,Android or iphone,Birthday (MM/DD),Race,# of Siblings,Favorite Pizza,Fav Genre,Languages Spoken,Borough,Dream Job,Dream Company
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees

In [58]:
ourData.columns = lower1

In [59]:
ourData.head()

,name,age (years),gender/sex,height (inch),commute time (mins),favorite color,favorite fruit,android or iphone,birthday (mm/dd),race,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees

In [60]:
theirData.columns = lower2

In [61]:
theirData.head()

,name,age,sex,height,commute time,transportation,fav color,fav fruit,andriod or iphone,country of origin,race,birthday,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
1,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
2,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
3,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital