In [1]:
import pandas as pd

In [ ]:
data1 = pd.read_csv("fellows_1.csv",)
data2 = pd.read_csv("fellows_2.csv",)

In [3]:
data1.head()

,Name,Age (Years),Gender/Sex,Height (Inch),Commute Time (Mins),Favorite Color,Favorite Fruit,Android or iphone,Birthday (MM/DD),Race,# of Siblings,Favorite Pizza,Fav Genre,Languages Spoken,Borough,Dream Job,Dream Company
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees

In [4]:
data1.columns

Index(['Name', 'Age (Years)', 'Gender/Sex', 'Height (Inch)',
       'Commute Time (Mins)', 'Favorite Color', 'Favorite Fruit',
       'Android or iphone', 'Birthday (MM/DD)', 'Race', '# of Siblings',
       'Favorite Pizza', 'Fav Genre', 'Languages Spoken', 'Borough',
       'Dream Job', 'Dream Company'],
      dtype='object')

In [5]:
data2.head()

,Name,Age,Sex,Height,Commute Time,Transportation,Fav Color,Fav Fruit,Andriod Or Iphone,Country Of Origin,Race,Birthday,# of Siblings,Favorite Pizza,Fav Genre,Languages Spoken,Borough,Dream Job,Dream Company
0,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
1,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
2,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
3,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [6]:
data1_columns = data1.columns.tolist()
data2_columns = data2.columns.tolist()

In [7]:
data1_column_lower_case = [_.lower() for _ in data1_columns]
data2_column_lower_case = [_.lower() for _ in data2_columns]

In [8]:
data1.columns = data1_column_lower_case
data2.columns = data2_column_lower_case

In [9]:
data1.head()

,name,age (years),gender/sex,height (inch),commute time (mins),favorite color,favorite fruit,android or iphone,birthday (mm/dd),race,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees

In [10]:
data2.head()

,name,age,sex,height,commute time,transportation,fav color,fav fruit,andriod or iphone,country of origin,race,birthday,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
1,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
2,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
3,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [11]:
tranportation = ["N/A","","",""]
country = ["N/A","","",""]

In [12]:
data1['tranportation'] = tranportation
data1['country of origin'] = country

In [13]:
data1.head()

,name,age (years),gender/sex,height (inch),commute time (mins),favorite color,favorite fruit,android or iphone,birthday (mm/dd),race,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company,tranportation,country of origin
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street,N/A,N/A
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG,,
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg,,
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees,,

In [14]:
data1['tranportation'][0] = '2 and N trains'

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_29116/3329041811.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data1['tranportation'][0] = '2 and N trains'
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_29116/3329041811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['tranportation'][0] = '2 and N trains'

In [15]:
data1['country of origin'][0] = 'Guinea'

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_29116/3247971416.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  data1['country of origin'][0] = 'Guinea'
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_29116/3247971416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['country of origin'][0] = 'Guinea'

In [16]:
data1.head( )

,name,age (years),gender/sex,height (inch),commute time (mins),favorite color,favorite fruit,android or iphone,birthday (mm/dd),race,# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company,tranportation,country of origin
0,Ibrahima,22,Male,68,120,Black,Mango,Android,08/07,Africain,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street,2 and N trains,Guinea
1,Rolando,22,Male,69,60,Green,Mango,Iphone,12/25,White/Hispanic,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG,,
2,Thomas,22,Male,69,80,Blue,Mango,Android,10/31,Hispanic?,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg,,
3,Kevin,22,Male,68,80,Blue,Mango,IPHONE,06/11,?,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees,,

In [17]:
data2.rename(columns={"age": "age (years)", "sex": "gender/sex", "height": "height (inch)", "commute time": "commute time (mins)", "fav color":"favorite color", "fav fruit":"favorite fruit", "birthday":"birthday (mm/dd)"},inplace=True)

In [18]:
data2.head()

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,andriod or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
1,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
2,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
3,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [19]:
data1.rename(columns={"tranportation":"transportation"},inplace=True)

In [20]:
list_of_cols = ["name","age (years)","gender/sex","height (inch)","commute time (mins)","transportation","favorite color","favorite fruit","android or iphone","country of origin","race","birthday (mm/dd)","# of siblings","favorite pizza","fav genre","languages spoken","borough","dream job","dream company"]
data_reordered = data1[list_of_cols]

In [21]:
data_reordered

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,android or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
1,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
2,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
3,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees

In [22]:
data2

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,andriod or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
1,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
2,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
3,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [23]:
data2.rename(columns={"andriod or iphone":"android or iphone"},inplace=True)
#merged_df = pd.merge(data_reordered,data2, on=list_of_cols, how="outer")

In [24]:
data_reordered["height (inch)"] = data_reordered["height (inch)"].astype(str)
data_reordered["commute time (mins)"] = data_reordered["commute time (mins)"].astype(str)
data_reordered["languages spoken"] = data_reordered["languages spoken"].astype(str)

In [25]:
merged_df = pd.merge(data_reordered,data2, on=list_of_cols, how="outer")

In [26]:
merged_df

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,android or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Angel,19,Male,5'11 with timbs,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [27]:
cleaned_height = [ element.split()[0] for element in merged_df["height (inch)"]]

In [28]:
merged_df["height (inch)"] = cleaned_height

In [29]:
merged_df

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,android or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Angel,19,Male,5'11,100 minutes,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70 mins,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150 minutes,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [31]:
commute_time_list = [element.split()[0] for element in merged_df['commute time (mins)']] 
merged_df["commute time (mins)"] = commute_time_list

In [33]:
merged_df["commute time (mins)"] = merged_df["commute time (mins)"].astype(int)
#merged_df["height (inch)"] = merged_df["height (inch)"].astype(int)
#merged_df["commute time (mins)"] = merged_df["commute time (mins)"].astype(int)

In [35]:
merged_df["height (inch)"] = [_.split()[0] for _ in merged_df["height (inch)"]]

In [36]:
merged_df

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,android or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Angel,19,Male,5'11,100,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Black,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [41]:
#merged_df["height (inch)"]
merged_df["fav genre"][1] = "Rap"

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_44599/4176808851.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  merged_df["fav genre"][1] = "Rap"
/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_44599/4176808851.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_df["fav genre"][1] = "Rap"

In [42]:
merged_df

,name,age (years),gender/sex,height (inch),commute time (mins),transportation,favorite color,favorite fruit,android or iphone,country of origin,race,birthday (mm/dd),# of siblings,favorite pizza,fav genre,languages spoken,borough,dream job,dream company
0,Angel,19,Male,5'11,100,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Rap,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [51]:
merged_df.columns = [_.title() for _ in merged_df.columns]

In [53]:
merged_df

,Name,Age (Years),Gender/Sex,Height (Inch),Commute Time (Mins),Transportation,Favorite Color,Favorite Fruit,Android Or Iphone,Country Of Origin,Race,Birthday (Mm/Dd),# Of Siblings,Favorite Pizza,Fav Genre,Languages Spoken,Borough,Dream Job,Dream Company
0,Angel,19,Male,5'11,100,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Rap,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70,"R , A ,L Train",purple,pomegranates,Andriod,U.S.A,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [93]:
merged_df["Country Of Origin"] = merged_df["Country Of Origin"].replace("U.S.A", "United States")

In [94]:
merged_df

,Name,Age (Years),Gender/Sex,Height (Inch),Commute Time (Mins),Transportation,Favorite Color,Favorite Fruit,Android Or Iphone,Country Of Origin,Race,Birthday (Mm/Dd),# Of Siblings,Favorite Pizza,Fav Genre,Languages Spoken,Borough,Dream Job,Dream Company
0,Angel,19,Male,5'11,100,Bx27/6&N train,Purple,Watermelon,Iphone,Dominican Republic,Afro-Latino,10/19/05,2,Chicken Ranch,Pop,English and spanish,Bronx,Fire Hydrant,Microsoft
1,Ibrahima,22,Male,68,120,2 and N trains,Black,Mango,Android,Guinea,Africain,08/07,4,Buffalo chicken,Rap,4.0,Yonkers,Financial Data Scientist,Wall Street
2,Itzel,21,Female,5'2,70,"R , A ,L Train",purple,pomegranates,Andriod,United States,Latino,9/18/03,3,Buffalo chicken,metal,Spanish and English,Brooklyn,Hired,Google
3,Kabbo,24,Male,5'9,150,"Q42, J, N",Black,Apples,iPhone,Bangladesh,South Asian,7/16/00,1,Pep,Hip-Hop,"English, Bangla, Urdu, Hindi, Arabic",Queens,Threat Intel Analyst,Microsoft
4,Kevin,22,Male,68,80,,Blue,Mango,IPHONE,,?,06/11,5,Meat Lovers,Brown,2.0,Bronx,Sports Data Analyst,New York Yankees
5,Rolando,22,Male,69,60,,Green,Mango,Iphone,,White/Hispanic,12/25,2,Margarita,Shoegaze,2.5,Brooklyn,Financial Data Analyst,KPMG
6,Thomas,22,Male,69,80,,Blue,Mango,Android,,Hispanic?,10/31,2,Pepperoni,Brown,1.5,Queens,Business Intelligence Analyst,Bloomberg
7,Vincent,24,Male,5'7,60,A/D Train,Beige,banana,iphone,Domincan Republic,Afro-Latino,11/16/00,2,Chicken,Rap,English and Spanish,Manhattan,Healthcare DA,Presbytarian Hospital

In [56]:
data = pd.DataFrame(merged_df)

In [57]:
data.to_csv("fellows_1_2_merged_dataset.csv")