# M1L6 Identifying & Handling Missing Data 

 We'll be working with the same Austin Animal Center Intakes dataset from the previous lecture, which contains information about animals entering the Austin Animal Center.

### **Dataset:** [Austin Animal Center Intakes](https://catalog.data.gov/dataset/austin-animal-center-intakes) -- This is also in your data folder 

### **Objectives:**

 1.  Identify Columns with Missing Data
 2.  Handle missing data by dropping data and using imputation techniques

## Step 1:  Import pandas and numpy

In [52]:
#Import packages 

import pandas as pd 
import numpy as np

## Step 2:  Load in the data and save it as `df`

In [53]:
df = pd.read_csv("Austin_Animal_Center_Intakes__10_01_2013_to_05_05_2025_.csv")

## Step 3:  Look at the data (can you think of ONE method that we can use to quickly see column names and how many non-null values exist in each column)

**Instructor if they draw a blank say what method can tell us data types, column names, the number of non-null values etc**

In [54]:
df.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White

## Step 4:  Assign a missing indicator to those rows who have missing animal names

In [55]:
df["Missing Name"] = np.where(df["Name"].isna(),1,0)
df.head() #optional line to see changes

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Missing Name
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,0
1,A664235,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
2,A664236,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
3,A664237,NaN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,0

## Step 5:  Many names are missing let's fill this in with "UNKNOWN"

In [56]:
df["Name"].fillna("UNKNOWN",inplace=True)
df.head() #optional line to see changes

/var/folders/h0/75t8pd8571n2l1zzjcyqp7kh0000gp/T/ipykernel_63812/2932149748.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Name"].fillna("UNKNOWN",inplace=True)

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Missing Name
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,0
1,A664235,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
2,A664236,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
3,A664237,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,0

## Step 6:  There is ony one column with 'Age' missing; let's drop it for now

In [71]:
df
df["Sex upon Intake"].isna().sum()
df.dropna(subset=["Sex upon Intake"], inplace=True)
df.info() #optional line to see changes

<class 'pandas.core.frame.DataFrame'>
Index: 173811 entries, 0 to 173811
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Animal ID         173811 non-null  object
 1   Name              173811 non-null  object
 2   DateTime          173811 non-null  object
 3   MonthYear         173811 non-null  object
 4   Found Location    173811 non-null  object
 5   Intake Type       173811 non-null  object
 6   Intake Condition  173811 non-null  object
 7   Animal Type       173811 non-null  object
 8   Sex upon Intake   173811 non-null  object
 9   Age upon Intake   173811 non-null  object
 10  Breed             173811 non-null  object
 11  Color             173811 non-null  object
 12  Missing Name      173811 non-null  int64
dtypes: int64(1), object(12)
memory usage: 18.6+ MB

In [72]:
#df["Age upon Intake"].isnull().sum()
df

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Missing Name
0,A521520,Nina,10/01/2013 07:51:00 AM,October 2013,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan,0
1,A664235,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
2,A664236,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
3,A664237,UNKNOWN,10/01/2013 08:33:00 AM,October 2013,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White,1
4,A664233,Stevie,10/01/2013 08:53:00 AM,October 2013,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
173807,A929690,UNKNOWN,05/03/2025 11:18:00 PM,May 2025,8038 Exchange Dr in Austin (TX),Stray,Injured,Dog,Intact Male,2 years,Belgian Malinois,Brown/Black,1
173808,A929717,UNKNOWN,05/04/2025 03:14:00 PM,May 2025,Austin (TX),Public Assist,Normal,Dog,Intact Male,1 year,Shih Tzu Mix,White/Blue,1
173809,A929724,UNKNOWN,05/04/2025 07:43:00 PM,May 2025,7105 Providence Ave Apt 3 in Austin (TX),Stray,Normal,Other,Unknown,1 year,Rabbit Sh,Tan/White,1
173810,A929725,Oswold,05/04/2025 10:55:00 PM,May 2025,1501 Red River St in Austin (TX),Public Assist,Normal,Dog,Intact Male,10 years,Boxer Mix,Tan/White,0
173811,A929635,UNKNOWN,05/04/2025 11:44:00 PM,May 2025,708 Simonetti in Austin (TX),Stray,Normal,Cat,Spayed Female,2 years,Domestic Shorthair,Black/White,1

In [73]:
df["Sex upon Intake"].isnull().sum()

np.int64(0)